<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td class="table-dark" colspan="5">List of Vacation Requests</td>
      </tr>
    </thead>
    <thead>
      <tr class="text-muted">
        <td>name</td>
        <td>team</td>
        <td>vacation dates</td>
        <td>amount of days</td>
        <td>vacation balance</td>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let vac of vacationsList">
        <td>Name Surname</td>
        <td class="text-muted">Team Name</td>
        <td class="text-muted">
            {{vac.StartVocationDate | date:'dd/MM/yy' }} - {{vac.EndVocationDate | date:'dd/MM/yy'}}
        </td>
        <td class="text-muted">XX</td>
        <td>XX days
          <i class="icon-approved-request cancel"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
